.dashtop {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 27px;
  font-size: large;
  color: #000000;
  background-color: #f3f3f9;
  height: 35px;
  padding-top: 6px;
  padding-right: 10px;
  margin-left: 0.4px;
  padding-bottom: 4px;
  font-style:oblique;
  /* border-radius: 5px; */
  /* border:2px solid #a05e5e; */
}
.dashtop img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
